core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
.env
environment.yml
cert.crt
cert.pem
cert.key
key.pem
db.sqlite3
venv
static_root/
media/