{% extends 'rule4be/main.html' %}
{% load static %}

{% block content %}
<h1>AOLS - List of user's AOLs</h1>

<div class="aol-container">
    {% for area_of_life in aols %}

    <div class="aol-item">
        <form hx-get="{% url 'load_today_snapshot_page' area_of_life.id %}" hx-trigger="load"
            hx-target="#today-{{ area_of_life.id }}" id="login-form">

            {% csrf_token %}

            <input type="hidden" name="area_of_life" value="{{ area_of_life.id }}">
            <input type="hidden" name="user" value="{{ request.user.id }}">
            <h1>{{ area_of_life.name }}</h1>
            <p>{{ area_of_life.description }}</p>
            <button type="submit">Add a snapshot</button>
        </form>
        <br>

        <div id="today-{{ area_of_life.id }}"></div>
        <!-- Display snapshots for the current AOL -->
    </div>
    {% endfor %}
</div>

<!-- Display the result of the login attempt -->
<div id="login-result"></div>

{% endblock %}