<h2 class="form__title mx-auto">Login</h2>
<form
    id="login-form"
    method="post"
    action="{% url 'load_login_form' %}"
    x-data="formValidator()"
    x-init="requiredFieldIndicator()">
    {% csrf_token %}
    <div class="form__label-field">
        <label class="form__label" for="username">Username:</label>
        <input class="form__intput" type="text" name="username" id="username" required>
        <div data-invalid-feedback class="invalid-feedback"></div>
    </div>
    <div class="form__label-field">
        <label class="form__label" for="password">Password:</label>
        <input class="form__intput" type="password" name="password" id="password" required>
        <div data-invalid-feedback class="invalid-feedback"></div>
    </div>
    <div>
        <button class="form__submit button button--primary" type="submit">Log In</button>
    </div>
    <a class="button--text" href="{% url 'password_reset' %}">Forgot your password?</a>
</form>