{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">

    <!-- Tailwind CSS - Must load before JavaScript files -->
    <link rel="stylesheet" href="{% static 'css/tailwind/tailwind-output.css' %}">

    <!-- HTMX Library -->
    <script src="{% static 'js/htmx.min.js' %}" type="text/javascript"></script>

    <!-- FontAwesome Pro -->
    <script src="https://kit.fontawesome.com/d5839f6886.js" crossorigin="anonymous"></script>

    <!-- Alpine JS -->
    <script src="{% static 'alpinejs/dist/cdn.min.js' %}" defer></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

    <!-- Form Validation -->
    <script src="{% static 'js/form-validation.js' %}"></script>

    <!-- Global JS -->
    <script src="{% static 'js/global.js' %}" defer></script>

    {% block styles %}{% endblock %}
</head>


<body class="bg-white {{ body_class }} relative">
    <main class="min-h-screen flex flex-col mx-auto">
        <div id="pageContent" class="page-content__container">
            {% block content %}

            {% endblock %}
        </div>
    </main>
    <!-- Status Toast -->
    <div id="statusToast"
        class="status__message toast-container z-50 fixed top-5 right-5 bg-green-50 text-lg font-medium text-center rounded-lg p-3 w-full max-w-[300px] shadow-lg hidden">
        <div class="toast copy-text-toast bg-green-50" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body text-center fs-4 p-3">
                {% if message %}
                {{ message }}
                {% endif %}
            </div>
        </div>
    </div>
    <style>
        .bg-custom-pattern {
            background-color: #ffffff;
            background-size: 4px 4px;
            background-image: repeating-linear-gradient(45deg, #f0f0f0 0, #f0f0f0 0.4px, #ffffff 0, #ffffff 50%);
        }
    </style>
    <!-- Modal -->
    <div
        id="crudModal"
        class="modal fixed inset-0 flex items-center justify-center p-6 bg-black bg-opacity-50 transform scale-0 opacity-0 transition-all duration-300 ease-in-out z-50">
        <div class="bg-white modal__dialog">
            <i data-close-crud-modal class="modal__close icon--dismiss"></i>
            <div class="modal__body">
                <div id="crudModalContent" class="modal__content swap-transition overflow-y-auto max-h-[750px]">
                    {% include './loading-spinner.html' %}
                </div>
            </div>
        </div>
    </div>
    <script>
        function bindModalButtons() {
            $('[data-open-crud-modal]').off('click').on('click', function() {
                console.log("CRUD Modal Opened");
                $('#crudModal').removeClass('scale-0 opacity-0').addClass('scale-100 opacity-100');
                $('body').css('overflow', 'hidden');  // disable scrolling
            });
            $('[data-close-crud-modal]').off('click').on('click', function() {
                $('#crudModal').removeClass('scale-100 opacity-100');
                setTimeout(function() {
                    $('#crudModal').addClass('scale-0 opacity-0');
                }, 300);
                $('body').css('overflow', 'auto');  // enable scrolling
            });
    
            $('#crudModal').off('click').on('click', function(event) {
                if (event.target === this) {
                    $(this).removeClass('scale-100 opacity-100');
                    setTimeout(function() {
                        $('#crudModalContent').html('');
                        $('#crudModal').addClass('scale-0 opacity-0');
                    }, 300);
                    $('body').css('overflow', 'auto');  // enable scrolling
                }
            });
        }
    
        $(document).ready(function() {
            bindModalButtons();
        });
    
        // Listen for htmx:afterOnLoad event and bind modal buttons again
        // document.body.addEventListener('htmx:afterOnLoad', function() {
        //     bindModalButtons();
        // });
    </script>
</body>
</html>