{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://unpkg.com/htmx.org@1.9.10"
        integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
        crossorigin="anonymous"></script> -->

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@100;200;300;400;600;700&display=swap" rel="stylesheet">

    <!-- Tailwind CSS - Must load before JavaScript files -->
    <link rel="stylesheet" href="{% static 'css/tailwind/tailwind-output.css' %}">

    <!-- HTMX Library -->
    <script src="{% static 'js/htmx.min.js' %}" type="text/javascript"></script>

    <!-- FontAwesome Pro -->
    <script src="https://kit.fontawesome.com/d5839f6886.js" crossorigin="anonymous"></script>

    <!-- Alpine JS -->
    <script src="{% static 'alpinejs/dist/cdn.min.js' %}" defer></script>

    {% block styles %}{% endblock %}
</head>

<body class="bg-gray-50">
    <main class="w-full min-h-screen flex flex-col bg-gray-50">
        <div class="page-content__container mx-auto min-w-[960px] mt-5">
            {% block content %}
        
            {% endblock %}
        </div>
    </main>
    <!-- Status Toast -->
    <div id="statusToast" class="status__message toast-container z-50 fixed top-5 right-5 bg-green-50 text-lg font-medium text-center rounded-lg p-3 w-full max-w-[300px] shadow-lg hidden">
        <div class="toast copy-text-toast bg-green-50" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-body text-center fs-4 p-3">
                {% if message %}
                    {{ message }}
                {% endif %}
            </div>
        </div>
    </div>
</body>

</html>