{% load custom_filters %}
<div
    id="profileContainer"
    class="mt-12 swap-transition rounded-lg bg-custom-pattern p-5 transition-all opacity-100">
    <div class="bg-white p-5 rounded-lg">
        <div class="flex justify-between items-center">
            <h1 class="font-semibold text-2xl">Your Profile Details</h1>
            <i
                data-close-profile-container
                class="icon--dismiss ms-auto"
                x-data
                @click="closeProfileContainer()"></i>
        </div>
        <p class="mb-3 mt-5"><strong>Username: </strong>{{profile}}</p>
        <p class="mb-3"><strong>Trial Start Date: </strong>{{profile.sign_up_date}}</p>
        <p class="mb-3"><strong>Trial End Date: </strong>{{profile.trial_end_date}}</p>
        <p class="mb-3"><strong>Account Status: </strong>{{ profile.account_status|custom_title }}</p>
        {% if profile.subscription_activation_date %}
        <p class="mb-3"><strong>Subscription Activation Date: </strong>{{profile.subscription_activation_date}}</p>
        {% endif %}
        {% if profile.subscription_cancellation_date %}
        <p class="mb-3"><strong>Subscription Cancellation Date: </strong>{{profile.subscription_cancellation_date}}</p>
        {% endif %}
        
        <button
            class="text__link"
            x-data
            @click="closeProfileContainer()">
            <i class="icon--back"></i>
            <span>Back</span>
        </button>

    
        <!--      Go to stripe customer portal to let user manage subscription. -->
        <form action="{%  url  'direct-to-customer-portal' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" id="session-id" name="session_id" value="" />
            <button id="checkout-and-portal-button" type="submit">Manage your billing information</button>
        </form>
    </div>
    <script>
        HTMLElement.prototype.removeAllClasses = function() {
            this.className = '';
        };

        function closeProfileContainer() {
            const profileContainer = document.getElementById('profileContainer');
            profileContainer.innerHTML = '';
            profileContainer.removeAllClasses();
            profileContainer.classList.add('transition-all', 'opacity-0', 'duration-300', 'ease-in-out');
            document.body.click();
        }
    </script>
</div>
