{% extends 'rule4be/main.html' %}

{% block content %}
<h1>Your Profile Details</h1>
<p>Username: {{profile}}</p>
<p>Trial Start Date: {{profile.sign_up_date}}</p>
<p>Trial End Date: {{profile.trial_end_date}}</p>
<p>Account Status: {{profile.account_status}}</p>
{% if profile.subscription_activation_date %}
<p>Subscription Activation Date: {{profile.subscription_activation_date}}</p>
{% endif %}
{% if profile.subscription_cancellation_date %}
<p>Subscription Cancellation Date: {{profile.subscription_cancellation_date}}</p>
{% endif %}

<a href="{% url 'load_aols_page' %}">Back</a>

<!--      Go to stripe customer portal to let user manage subscription. -->
<form action="{%  url  'direct-to-customer-portal' %}" method="POST">
    {% csrf_token %}
    <input type="hidden" id="session-id" name="session_id" value="" />
    <button id="checkout-and-portal-button" type="submit">Manage your billing information</button>
</form>

{% endblock %}
```