{% extends 'rule4be/main.html' %}

{% block content %}
<h1>Terms and Conditions</h1>
<h2>General Terms:</h2>
<p>We don't run adds.</p>
<p>We don't use cookies to track what you are doing.</p>
<p>We don't sell your data.</p>
<p>Rule4 is a Journaling APp for you to use privately.</p>

<h2>Free Trial Period:</h2>
<p>You can access a 30-day free trial to see if you like using Rule4</p>
<p>After the 30-day trial, you will need to subscribe to continue using Rule4</p>


<h2>Cancellation:</h2>
<p>You can cancel your subscription at any time</p>
<p>Once you cancel your subscription, you will no longer have access to Rule4</p>
<p>Your data will be saved for 30 days after you cancel your subscription, giving you time to re-activate your account
    should you which to.</p>
<p>We do not provide a data export service when you cancel your account.</p>

<h2>Contact Us:</h2>
<p>If you have any questions about our terms and conditions, please contact us at info@rule4.app</p>

{% endblock %}
```