<div>
    {% for snapshot in api_data %}
    <div class="snapshot-item">
        <h4>{{ snapshot.relative_date }}:</h4>
        <p>{{ snapshot.body }}</p>

        {% if snapshot.image %}
        <div>
            <img src="{{ snapshot.image }}" alt="Snapshot Image" style="max-width: 100%;">
        </div>
        {% endif %}

        {% if snapshot.video %}
        <div>
            <video controls style="max-width: 100%;">
                <source src="{{ snapshot.video }}" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        {% endif %}
    </div>
    <br>
    {% endfor %}
</div>


<!-- Display the result of the login attempt -->
<div id="login-result"></div>